*{
    margin : 0;
    padding:0;
    text-decoration: none;
}

body{
    text-align: center;
    margin-top: 3vh;
    background-color: rgb(255, 255, 255);
}

#heading{
    font-size: 4em;
    color: white !important;
}

.titleH{
    background-color: rgb(68, 68, 68);
    margin: 0;
    
}



h1{
    color: white;
    /* font-family: Prompt; */
    font-size: 3em;
}

h2{
    font-weight: lighter;
    font-size: 150%;
}

.container{
    display:flex;
    flex-wrap: wrap;
    margin: 5vh 5vw;
    /* width:100vw; */

    
}

.cards{
    /* display: flex; */
    width: 35vw;
    flex-direction: row;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5vh;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px green;
}

.cards:hover{
    border: 2px solid red;
    box-shadow: 3px 5px 10px yellow;
}

.image{
    /* width:30vw; */
    /* float:left; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

img{
    width:90%;
    height: auto;
    border-radius: 10px;
    border: 2px solid white;
    border-radius: 10px;

}
img:hover{
    border:2px solid yellowgreen;
}

.content{
    /* width:30vw; */
    /* background-color:rgb(26, 207, 138); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vw;
    color: white;
}


.texts{
    text-align: center;
    transition: 0.2s ease;
    /* padding: 10px; */
    /* margin:5px; */
}

.itmes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texts:hover{
    transform: scale(1.04);
}

h3{
    color:orange;
    font-weight: lighter;
}

/* .c1:hover{
    background-color: yellow;
}
.c2:hover{
    background-color: rgb(112, 175, 18);
}
.c3:hover{
    background-color: blue;
}
.c4:hover{
    background-color: orange;
} */

/* .vertical-line > hr{
    width:2px;
    height:100%;
    margin-right: 2px;
    color:blue;
} */

@media(max-width: 800px){
    .cards{
        flex-direction: column;
        border-radius: 30px 0 37.5px 0;
    }

    img{
        border-radius: 20px 0 25px 0;
    }
    .image{
        width: auto;
    }
    .content{
        width: auto;
    }
}

@media(max-width:500px){
    h2,h3{
        font-size: 120%;
    }
    h1{
        font-size: 9vw;
    }
}
